@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
$black: black;
$white: white;
$off-white: rgb(210, 210, 210);
$grey: grey;
$burgondy: #633338;
$text-color: #000000;

$shadow-box: 0.5rem 0.5rem rgba(0, 0, 0, 0.693);

$background-color1: rgb(32, 40, 121);
$background-color2: rgb(44, 45, 70);
$background-color3: rgba(96, 48, 48, 0.516);

$panel-color0: rgba(57, 88, 138, 0.701);
$panel-color1: rgba(141, 49, 58, 0.4196078431);
$panel-color2: rgb(124, 108, 103);

$default-font-family: 'Cinzel', serif;
$font-size: 4em;
$mobile-font-size: 3em;
$border-radius-0: 0px;
$border-radius-1: 15px;
$border-width-1: 10px;
$border-style-1: solid;
$transition-fade: 45%;

$cloud-color: rgb(84, 98, 112);
$cloud-x1-motion: 30s;
$cloud-x2-motion: 36s;
$cloud-x3-motion: 49s;
$cloud-x4-motion: 65s;
$cloud-x5-motion: 70s;