$black: black;
$white: white;
$grey: grey;
$burgondy: #8d313a;
$text-color: #000000;

$background-color1: rgb(68, 149, 59);
$background-color2: rgba(199, 190, 128, 0.55);
$background-color3: rgba(141, 49, 49, 0.516);

$default-font-family: Monospace;
$font-size: 4em;
$mobile-font-size: 3em;
$border-radius: 15px;
$transition-fade: 45%;

$cloud-color: rgb(91, 133, 179);
$cloud-x1-motion: 30s;
$cloud-x2-motion: 36s;
$cloud-x3-motion: 49s;
$cloud-x4-motion: 65s;
$cloud-x5-motion: 70s;